* {
	font-family:Arial;
}
header {
	text-align: center;
}
h1 {
	font-weight: bold;
	text-decoration: underline orange;
}
nav {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-left:10%;
	margin-right:10%;
}
nav a {text-decoration:underline blue;}
nav a:link {color: black;}
nav a:visited {color: black;}
nav a:hover {color: blue;}
main{
	padding-top: 10px;
}
h2 {
	font-size: 15em;
	text-align: center;
}
#image {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
footer{
	position:fixed;
	bottom:0;
	padding: 10px 10px 10px 10px;
}
table{
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
}
th{
	font-weight: bold;
	border: 1px solid black;
	width: 10%;
	height: 30px;
}
td{
	border: 1px solid black;
	height: 100px;
	text-align: center;
}
